
<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" enctype="multipart/form-data"  id="form" method="post" action="">
                        	<input type="hidden" value={$data.id} name="id"/>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 轮播图名称 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="banner_name" id="title" placeholder="轮播图名称"
                                           class="col-xs-10 col-sm-5" value="{$data.banner_name}">
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">轮播图名称不能为空。</span>
											</span>
                                </div>
                            </div>


                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-4">
                                    级别</label>
                                <div class="col-sm-9">
                                <input type="text" name="level"  placeholder="网页标题"
                                           class="col-xs-10 col-sm-5" value="{$data.level}">
                                    <div class="col-xs-10 col-sm-5"></div>
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle">级别：1主页轮播，2产品系列轮播</span>
                                    </span>
                                </div>
                            </div>
                          
                            
                            <div class="space-4"></div>
                              <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-4">
                                    轮播图片 </label>
                                <div class="col-sm-9">
                                <?php showImage($data['picurl'],500); ?><span style="cursor:pointer;font-weight:bold;color:red;" picId="{$data.id}" class="delpic">删除</span>
                                <input type="file" name="picurl" />
                                </div>
                            </div>
                            <div class="col-md-offset-2 col-md-9">
                                <input class="btn btn-info submit" type="submit" value="提交">  
                                &nbsp; &nbsp; &nbsp;
                                <input class="btn" type="reset" value="重置">
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
</body>
</html>
<script>
    $('.delpic').click(function(){
        var $_this = $(this);
        var picId = $_this.attr('picId');
        $.ajax({
            url:"<?php echo U('Banner/ajaxDelBanner','',false); ?>/id/"+picId,
            type:"GET",
            dataType:"json",
            success:function(data){
                if(data.ok=='1'){
                    $_this.prev('img').remove();
                    $_this.remove();
                    console.log(data);
                }
            }
        })
    })
</script>